<h2>Papers</h2>

<ul>
    {{ range sort (where .Site.Data.papers.references "type" "article-journal") "issued" }}
    <li>{{ partial "paper.html" . }}</li>
    {{ end }}
</ul>

<h3>Submitted and in prep</h3>
<ul>
    {{ range sort (where .Site.Data.papers.references "status" "in" (slice "in preparation" "submitted")) "status" "desc" }}
    <li>{{ partial "paper.html" . }}</li>
    {{ end }}
</ul>

<h3>Conference proceedings papers</h3>
<ul>
    {{ range sort (where .Site.Data.papers.references "type" "paper-conference") "issued" "desc" }}
    <li>{{ partial "paper.html" . }}</li>
    {{ end }}
</ul>
