{{ $authors := apply .author "partial" "author" "." }}
{{ $clean := apply $authors "chomp" "." }}
{{ delimit $clean ", " " & " | safeHTML }}
{{ if index . "issued" }}
  {{ index .issued 0 | partial "issued" | chomp }}.
{{ else if .status }}
  (<em>{{ .status }}</em>).
{{ end }}
{{ with .title | plainify | markdownify }}
  {{ . }}
  {{- if ne (substr . -1 1) "?" -}}
    .
  {{- end -}}
{{ end }}
{{ if index . "container-title" }}
  <em>
    {{ index . "container-title" | chomp }}
    {{- if .volume -}},
      {{ .volume }}
      {{ if .issue }}
        ({{ .issue }})
      {{- end -}}
    {{- end -}}
  {{- if .page -}},
    {{ .page }}
  {{- end -}}
  </em>.
{{ end }}
{{ if .DOI }}<a class="doi" href="http://doi.org/{{ .DOI }}" >DOI:{{ .DOI }}</a>{{ end }}
{{ range .source_links }}
  <a class="source-link" href="{{ .link }}">[{{ .name }}]</a>
{{ end }}
